doctype html
html.no-js
  head
    meta(charset='utf-8')
    title Conviva
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.) styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body(ng-app='convivaApp')
    //if lt IE 7
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // Add your site or application content here
    .container
      .header
        ul.nav.nav-pills.pull-right
          li.active
            a(ng-href='#') Bienvenidos
          li
            a(ng-href='#/servicios') Servicios
          li
            a(ng-href='#/clientes') Clientes
          li
            a(ng-href='#/contacto') Contáctanos
        h3.text-muted Conviva Web Site
      div(ng-view='')
      .footer
        p
          span.glyphicon.glyphicon-heart
          |  from the Yeoman team
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    // build:js(.) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/json3/lib/json3.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-route/angular-route.js')
    // endbower
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/app.js')
    script(src='scripts/controllers/main.js')
    script(src='scripts/controllers/about.js')
    // endbuild